body{
	margin: auto;
	padding: 0;
	max-width: 790px;
	font-family: "Antic", sans-serif;
	background: -moz-linear-gradient(top,  #5A98C9,  #427094) grey;
	background: -webkit-linear-gradient(top,  #5A98C9,  #427094) grey;
}

#container{
	margin: 0;
	border: 0;
	padding: 0;
	width: 100% /* 790px */;
}

#header, #content {
	border: 0;
	margin: 0;
	width: 97.468354% /* 770px/790px */;
	padding: 1.12658228% /* 10px */;
}

#header{
	background-image: url('../images/header_bg.png');
	background-repeat: no-repeat;
	background-color: #a2a182;
	height: 330px;
}

#content{
	background-color: #EDDBAD;
}

#contact{
	padding: 0.56329114% /* 5px */;	
	width: 63.291139% /* 510/790 */;
	height: 400px;
	background-color: silver;
	float: left;
}
#connect{
	padding: 0.56329114% /* 1.12658228/2 */;	
	width: 34.177215% /* 280/790 */;
	height: 400px;
	background-color: silver;
	float: left;
}
/* ################# Headers #################### */
h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;
	line-height: .8em;
}

h1{
	font-size: 300%;
	color: white;
}

h2{
	font-size: 275%;
}

h3{
	font-size: 250%;
	line-height: 1em;
}

p{
	line-height:1.6;
}


/* ################## Navigation Section ############## */
#nav{
	padding: 0;
	margin-top: 220px;
	list-style-type: none:
	background-color: white;
}	

#nav li{	
	display: inline;
}

#nav li a{
	color: white;
	padding: 0px 17px 14px;
	font-family: "Antic", sans-serif;
	line-height: 1.6;
	text-transform: uppercase;
	text-decoration: none;
}

#nav li a:hover{
	background-color: #6B634E;
	color: silver;
}
/* ##################### Images ######################### */
#images{
	list-style-type: none;
}

#images li a{
	border: 8px solid #5A98C9;
	display: block;
	width: 200px;
	height: 250px;
}

#images li a:hover{
	border-color: white;
}

img {
	max-width: 100%;
}

li{
	float: left;
	margin: 10px;
}

#clear{
	clear: left;
}

a:hover{
	color: #423D30;
}

/* ###########################   Media Queries #################### */

@media screen and (min-width: 768px) and (max-width: 959px){

}

@media screen and (min-width: 480px) and (max-width: 767px){
#header{
	background-size: 100%;
	height: 400px;
}
#nav{
	margin-top: 180px;
}
h1{
	padding-right: 200px;
}
#connect, #contact {
	float: none;
	width: 100%;
}
}

@media screen and (max-width: 479px){
body {
	line-height: 100%;
}
h1{
	padding-right: 90px;
}
#connect, #contact {
	float: none;
	width: 100%;
}
#header, #content {
	width: 100%;
}
#header{
	height: 350px;
	background-image: none;
}
#nav{
	margin-top: 75px;
}
}